/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
user.ini
/public/build
/storage/app/public/products/*
/storage/app/public/avatars/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.phpunit.cache
/auth.json
/.vscode
/.idea
database/database.sqlite
database/database.sqlite-journal
